<footer class="my-16 tracking-wider font-light text-xs flex flex-col items-center">
    <p>Built with Astro.build</p>
    <p>Code licensed under MIT</p>
    <p>Content licensed under CC BY-SA 4.0</p>
</footer>