---
import { Icon } from "astro-icon";
---

<header class="flex flex-row justify-between items-center w-full min-h-[8rem] mb-16">
    <a href="/" class="text-4xl text-white font-bold tracking-tight mx-6">tracel.xyz</a>
    <div class="flex flex-row justify-center gap-4 mx-6">
        <button id="discord-social">
            <Icon
                name="simple-icons:discord"
                class="text-white hover:text-stone-300 w-8 h-8 transition ease-in-out"
            />
        </button>
        <button id="twitter-social">
            <Icon
                name="simple-icons:twitter"
                class="text-white hover:text-stone-300 w-8 h-8 transition ease-in-out"
            />
        </button>
        <a id="github-social" href="https://github.com/TraceLosu" target="_blank">
            <Icon
                name="simple-icons:github"
                class="text-white hover:text-stone-300 w-8 h-8 transition ease-in-out"
            />
        </a>
    </div>
    <div
        id="discord-tooltip"
        class="w-max top-0 left-0 absolute bg-blue-500 rounded-xl p-2 text-white font-bold tracking-tight transform-gpu scale-0 transition-all ease-in-out"
    >
        Pasted!
        <div
            id="discord-tooltip-arrow"
            class="absolute w-2 h-2 transform-gpu rotate-45 bg-blue-500"
        >
        </div>
    </div>
    <div
        id="twitter-tooltip"
        class="w-max top-0 left-0 absolute bg-blue-500 rounded-xl p-2 text-white font-bold tracking-tight transform-gpu scale-0 transition-all ease-in-out"
    >
        Pasted!
        <div
            id="twitter-tooltip-arrow"
            class="absolute w-2 h-2 transform-gpu rotate-45 bg-blue-500"
        >
        </div>
    </div>
</header>

<script>
    import {
        computePosition,
        autoUpdate,
        arrow,
        offset,
    } from "@floating-ui/dom";

    type Replacements = {
        [key: string]: string
    }

    let isDiscordTooltipVisible = false;
    let isTwitterTooltipVisible = false;

    function positionHandler(refElement: HTMLElement, floatingElement: HTMLElement, arrowElement: HTMLElement) {
        computePosition(refElement, floatingElement, {
            middleware: [
                offset(8),
                arrow({
                    element: arrowElement,
                }),
            ],
        }).then(({ x, y, middlewareData, placement }) => {
            Object.assign(floatingElement.style, {
                left: `${x}px`,
                top: `${y}px`,
            });

            if (middlewareData.arrow) {
                const { x, y } = middlewareData.arrow;

                const staticSide = {
                    top: "bottom",
                    right: "left",
                    bottom: "top",
                    left: "right",
                }[placement.split("-")[0]];

                Object.assign(arrowElement.style, {
                    left: x !== null ? `${x}px` : "",
                    top: y !== null ? `${y}px` : "",
                    right: '',
                    bottom: '',
                    [staticSide as string]: '-4px',
                });
            }
        });
    }

    function Header() {
        function switchClass(
            element: Element,
            replacements: Replacements
        ) {
            const classes = element.classList;

            for (const token in replacements) {
                if (classes.contains(token)) {
                    classes.replace(token, replacements[token]);
                } else if (classes.contains(replacements[token])) {
                    classes.replace(replacements[token], token);
                }
            }
        }

        const DISCORD_TAG = "TraceL#0001";
        const TWITTER_TAG = "@STRCHii";

        const discordButton = document.getElementById("discord-social");
        const twitterButton = document.getElementById("twitter-social");
        const githubButton = document.getElementById("github-social");

        const discordTooltip = document.getElementById("discord-tooltip");
        const discordTooltipArrow = document.getElementById("discord-tooltip-arrow");

        const twitterTooltip = document.getElementById("twitter-tooltip");
        const twitterTooltipArrow = document.getElementById("twitter-tooltip-arrow");

        if (
            !(
                discordButton &&
                twitterButton &&
                githubButton &&
                discordTooltip &&
                twitterTooltip &&
                discordTooltipArrow &&
                twitterTooltipArrow
            )
        )
            return;

        const discordCleanup = autoUpdate(
            discordButton, 
            discordTooltip,
            () => {positionHandler(discordButton, discordTooltip, discordTooltipArrow)}
        )

        const twitterCleanup = autoUpdate(
            twitterButton, 
            twitterTooltip,
            () => {positionHandler(twitterButton, twitterTooltip, twitterTooltipArrow)}
        )

        const discordIcon = discordButton.firstElementChild;
        const twitterIcon = twitterButton.firstElementChild;

        if (!(discordIcon && twitterIcon)) return;

        discordButton.addEventListener("click", (ev) => {
            navigator.clipboard.writeText(DISCORD_TAG);
            if (isDiscordTooltipVisible) return;
            isDiscordTooltipVisible = true;
            switchClass(discordTooltip, {
                "scale-0": "scale-100",
            });
            setTimeout(() => {
                switchClass(discordTooltip, {
                    "scale-100": "scale-0",
                });
                isDiscordTooltipVisible = false;
            }, 2000);
        });
        twitterButton.addEventListener("click", (ev) => {
            navigator.clipboard.writeText(TWITTER_TAG);
            if (isTwitterTooltipVisible) return;
            isTwitterTooltipVisible = true;
            switchClass(twitterTooltip, {
                "scale-0": "scale-100",
            });
            setTimeout(() => {
                switchClass(twitterTooltip, {
                    "scale-100": "scale-0",
                });
                isTwitterTooltipVisible = false;
            }, 2000);
        });
    }

    Header();
</script>
